@media screen and (min-width: 320px) {
    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        border-top: 2px solid #8BA426;
        background-color: #AFA96E;
        .aboutUs {
            width: 100%;
            margin: 50px 0 0 0;
            .sideLeft {
                width: 100%;
                display: flex;
                justify-content: center;
                img {
                    max-width: 350px;
                }
            }
            .sideRight {
                text-align: justify;
                padding: 10px;
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        width: 100%;
        .aboutUs {
            display: flex;
            .sideLeft {
                width: 50%;
                img {
                    max-width: 100%;
                }
            }
            .sideRight {
                width: 50%;
                text-align: justify;
                padding: 50px;
            }
        }
    }
}