.containerDivisor {
    margin-top: 30px;
    .logo {
        width: 50%;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        img {
            width: 150px;
        }
    }
    .divisor {
        display: flex;
        margin-top: 30px;
        .title {
            padding: 0 50px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            box-shadow: -2px 2px 1px #000;
        }
        .trianguloEsquerda {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 25px solid #4C4B63;
        }
    }
}